__pycache__/
.cache/
datasets/
outputs/
out/
out2/
debug/
checkpoint/
*.zip
*.npy
core
history/
tools/*
tools
eval_outputs/
pretrained/
.nfs00d20000091cb3390001ead3
scripts/research/

.idea
.vscode
.github
.ipynb_checkpoints/
_screenshots/
flagged
